*.pro.user*
*.pro.autosave
*.png
*.ab
*.tar
apps
local.properties
android/.gradle/*
gradlew.bat
.DS_Store
*.swp
# Docker Build environment
build
.qmake.stash
Makefile
js_js_qmlcache.qrc
qml_qml_qmlcache.qrc
android-scale-conf-docker-deployment-settings.json
